[Unit]
Description=Hello App
After=network.target

[Service]
User=root
Restart=always
Type=forking
ExecStart=/opt/ubuntu-app/UbuntuApp

[Install]
WantedBy=multi-user.target